$main-font: 'Roboto', sans-serif;
$font-color: #181818;
// $haeder-color: #ffcc00;
$main-font-size: 16px; // font-size
$font-height: 1.5; // line-height
$font-weight: 300;
// $font-normal: 400;
// $font-bold: 900;
$main-bg: #9789f9;
// $h3-size: $main-font-size *3;

/* Grid variables */
$container-width: 1200px;
$col-padding: 15px;